{% extends "templates/index.html" %}

{% block head_social_media %}
<meta id="base-url" data-url="{{base_url}}">
<meta id="badge-base-url" data-url="{{badge_base_url}}">
{# Social media previews #}
<meta property="og:title" content="GESIS Binder">
<meta property="og:description" content="Reproducible, sharable, open, interactive computing environments.">
<meta property="og:image" content="https://notebooks.gesis.org/static/images/logo/logo_big_square.png?v={{ static_version }}">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="800">
<meta property="og:image:alt" content="GESIS Notebooks Logo" />
<meta name="twitter:card" content="summary">
{% endblock head_social_media %}

{% block head_extra %}
<script src="{{ static_nginx }}vendor/jquery-3.2.1.min.js"></script>

<link href="{{ binder_static }}dist/styles.css" rel="stylesheet">
<script src="{{ binder_static }}dist/bundle.js"></script>
{% endblock head_extra %}

{% block etracker %}
{% if production %}
{% with et_pagename="/GESISBinder:binder/", et_areas="/GESISBinder" %}
  {% include "gesis/etracker.html" %}
{% endwith %}
{% endif %}
{% endblock etracker %}

{% block logo %}
<div class="container">
  <div class="row">
    <div id="logo-container">
      <img id="logo" src="{{ binder_static }}logo.svg" width="390px"  />
    </div>
  </div>
</div>
{% endblock logo %}
