{% set navigation_bar = [
  ('/', 'home', 'Home'),
  ('/binder/', 'binder', 'Binder'),
  ('/about.html', 'about', 'About'),
  ('/faq.html', 'faq', 'FAQ')
] -%}
{% set active_page = active_page|default('home') -%}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Binder{% endblock %}</title>
  <meta name="description" content="Reproducible, sharable, open, interactive computing environments.">
  <link id="favicon" rel="shortcut icon" type="image/png" href="{{ gesis_notebooks_static }}images/logo/logo.png" />

  {% block head_social_media %}
  
  {# Social media previews #}
  <meta property="og:title" content="GESIS Binder">
  <meta property="og:description" content="Reproducible, sharable, open, interactive computing environments.">
  <meta property="og:image" content="{{ gesis_notebooks_static }}images/logo/logo_big_square.png">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="800">
  <meta property="og:image:alt" content="GESIS Notebooks Logo" />
  <meta name="twitter:card" content="summary">

  {% endblock head_social_media %}

  {# GESIS-Web-Frontend-Framework: https://www.gesis.org/styleguide/gesis-web-frontend-framework #}
  <link rel="stylesheet" type="text/css" href="{{ gesis_web_frontend_framework }}gesis-web.css" media="all">
  <script src="{{ gesis_web_frontend_framework }}gesis-web.js"></script>

  {# BinderHub #}
  <link href="{{ gesis_notebooks_static }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <script src="{{ gesis_notebooks_static }}vendor/jquery-3.2.1.min.js"></script>
  <link href="{{ gesis_notebooks_static }}styles/notebooks.css" rel="stylesheet" />
  <link href="{{ gesis_notebooks_static }}styles/binder.css" rel="stylesheet" />

  {# GESIS Notebooks #}
  <link rel="stylesheet" type="text/css" href="{{ gesis_notebooks_static }}styles/gesis.css" media="all">

  {% block head_extra %}
  {% endblock head_extra %}


  {% block etracker %}
  {% if production %}
  {% with et_pagename="/GESISBinder:binder/", et_areas="/GESISBinder" %}
    {% include "gesis/etracker.html" %}
  {% endwith %}
  {% endif %}
  {% endblock etracker %}
</head>
<body class="container-xl gs-layout-1">

  <header class="gs_header_main">
    <div class="d-flex justify-content-between align-items-center px-3 px-md-gesis-2 py-3">
      <div>
        <a title="GESIS-Homepage besuchen" href="/home">
          <picture>
            <source srcset="{{ gesis_web_frontend_framework }}img/gs_home_logo_pure.svg" media="(max-width: 767.98px)" />
            <img src="{{ gesis_web_frontend_framework }}img/gs_home_logo_de.svg" height="37" alt="GESIS-Homepage besuchen" />
          </picture>
        </a>
      </div>
      <nav class="gs_topnav">
        <ul class="list-group list-group-horizontal">
          <li>
            <a href="mailto:gitlab+ilcm-orc2-2705-issue-@gesis.org">
              <span class="icon-gs-contact pe-1"></span>
              <span class="d-none d-md-inline">Contact</span>
            </a>
          </li>
          <li>
            <a href="https://mybinder.readthedocs.io/en/latest/introduction.html">
              <span class="icon-gs-help pe-1"></span>
              <span class="d-none d-md-inline">Help</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container-xl gs_ms_header px-3 px-md-gesis-2 py-3">
      <div class="row align-items-center align-self-center">
        <div class="col col-4 col-sm-3 col-md-2">
          <img src="{{ gesis_notebooks_static }}images/logo/logo_text_2.png" height="100" alt="GESIS Notebooks Logo" />
        </div>
        <div class="col justify-content-center">
          <h1>GESIS Notebooks</h1>
        </div>
      </div>
    </div>
    <button id="gs_mm_toggle_button-104618" class="gs_mm_toggle_button" aria-haspopup="true" aria-controls="gs_megamenu-104618" aria-label="Navigationsmenü"></button>
    <nav class="gs_megamenu_nav" aria-labelledby="gs_mm_toggle_button-104618">
      <ul role="menu" id="gs_megamenu-104618" class="gs_megamenu">
        {% for href, id, caption in navigation_bar -%}
        <li{% if id == active_page %} class="gs_active"{% endif %}>
          <a role="menuitem" href="{{ href|escape }}">{{ caption|escape }}</a>
        </li>
        {% endfor -%}
      </ul>
    </nav>
  </header>

  <main id="gs_main">
    {% block logo %}
    {% endblock logo %}
    {% block main %}
    {% endblock main %}
  </main>

  <footer id="gs_footer" class="container-xl">
    <div class="row gy-3">
      <div class="d-flex col-12 col-xl-1 justify-content-center justify-content-xl-start p-0">
        <img src="{{ gesis_web_frontend_framework }}img/leibniz_logo_de_white.svg" alt="Leibniz-Logo">
      </div>
      <div class="d-flex col-12 col-xl-4 align-items-center justify-content-center justify-content-xl-start">
        <div class="gs_footerlinks">
          <a href="https://www.gesis.org/en/institute/imprint/">Imprint</a>
          <a href="https://www.gesis.org/en/institute/data-protection/">Data protection</a>
          <a href="{{ gesis_notebooks_https }}terms.html">Terms of Use</a>
          <span>©&nbsp;GESIS</span>
        </div>
      </div>
      <div class="d-flex col-12 col-xl-7 align-items-center flex-column flex-md-row justify-content-sm-center justify-content-xl-end p-0">
        <div class="btn-group btn-group-vertical-md-down gap-2">
          <a href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.gesis.org%2Fstyleguide%2Flayout%2Fhtml-seitenaufbau" target="_blank" rel="noopener noreferrer" class="btn btn-facebook text-start">
            <i class="bi bi-facebook pe-2"></i> Share on Facebook </a>
          <a href="https://twitter.com/intent/tweet/?text=HTML-Seitenaufbau&amp;url=https%3A%2F%2Fwww.gesis.org%2Fstyleguide%2Flayout%2Fhtml-seitenaufbau" target="_blank" rel="noopener noreferrer" class="btn btn-twitter text-start">
            <i class="bi bi-twitter pe-2"></i> Share on Twitter </a>
          <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.gesis.org%2Fstyleguide%2Flayout%2Fhtml-seitenaufbau&amp;title=HTML-Seitenaufbau&amp;summary=HTML-Seitenaufbau&amp;source=https%3A%2F%2Fwww.gesis.org%2Fstyleguide%2Flayout%2Fhtml-seitenaufbau" target="_blank" rel="noopener noreferrer" class="btn btn-linkedin text-start">
            <i class="bi bi-linkedin pe-2"></i> Share on LinkedIn </a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
